body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-style: normal;
  font-stretch: normal;
  text-transform: uppercase;
}

header {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;

  background-image: url(../img/background.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}

.navigation-item,
.visit-html {
  list-style: none;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

.navigation-item a,
.visit-html a {
  color: #000000;
}

.main-header {
  font-size: 14px;
  line-height: 26px;
  color: #000000;

  background-color: white;
}

.advantages1 {
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 26px;
  color: #333333;
}
.advantages2 {

  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 26px;
  color: #333333;
}

.interested {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  color: #000000;
}

.go {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #333333;
}

.serch {
  background-color: #766357;

  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 26px;
  color: #ffffff;
}

.form-back {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 26px;
  color: #000000;
}

.data::placeholder {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 26px;
  color: #000000;
}

.nambe::placeholder {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 26px;
  color: #000000;
}

.button-serch {
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 26px;
  color: #ffffff;

  background-color: #81b3d2;
}

a {
  text-decoration: none;
  color: #000000;
}



.itog input {
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 26px;
  color: #000000;

  border: 0;


}

.sorting {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 18px;
}

.sorting button {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 18px;
  color: #81b3d2;

  border: 0;
  background: #ffffff;
}

.sorting button:hover {
  color: rgba(0, 0, 0, 0.3);
}

li {
  list-style-type: none;
}

.catalog-category a {
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 26px;
}

.catalog-item-price {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 21px;

  color: #333333;
}

.item-price {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 21px;
  color: #333333;
}

.button-1 {
 background-color: #81b3d2;

 font-size: 14px;
 font-weight: bold;
 line-height: 21px;
 color: #ffffff;
}

.button-2 {
  background-color: #766357;

  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  color: #ffffff;
}

.raiting {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 21px;

  background-color: #f2f2f2;
}




.footer-copyring  {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 26px;

  color: #000000;

}

.footer-social a {
  color: #000000;
}

.social {
   font-size: 21px;
   line-height: 26px;
   font-weight: bold;
   font-style: normal;
   font-stretch: normal;
  }
