body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-style: normal;
  font-stretch: normal;
  text-transform: uppercase;

}
/*body > *{
  background: rgba(255, 0, 0, 0.2);
}

body > * > *{
  background: rgba(255, 0, 0, 0.5);
}

body > * > * > *{
  background: rgba(255, 0, 0, 0.8);
}*/




.container-flex {
  width: 1200px; /*Даем ширину*/
  margin: 0 auto; /*Даем центровку*/
  display: flex;
  flex-direction: column;

}

header {
  background-image: url(../img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.main-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 71px;

}

.lo-go {
  max-width: 140px;
  max-height: 71px;
}


.main-navigation {
  background-color: #ffffff;
}


.navigation-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding-left: 0px;
}

.navigation-item li {
  flex:  0 0 239px;
  height: 56px;
  text-align: center;
  padding-top: 28px;
}

.navigation-item li:nth-of-type(1) {
  margin-left: 0px;

}

.navigation-item li:nth-of-type(2) {
  margin-left: 0px;
  margin-right: 100px;
}

.navigation-item li:nth-of-type(3) {
  margin-left: 100px;
  margin-right: 0px;
}

.navigation-item li:nth-of-type(4) {
  margin-right: 0px;
}




.hostel {
  flex:  0 0 239px;
  height: 56px;
  text-align: center;
  padding-top: 28px;
  margin-right: 0;
}




.hostel-to {
  margin-right: 40px;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}


.footer-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  background-color: #ffffff;
}

.footer-copyring {
  display: flex;
  align-items: center;
}

.visit-html {
  display: flex;
  flex-direction: row;
}


.brown-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}



.go-data {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.map {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*страница каталога*/
.catalog {
  display: flex;
  flex-direction: column;
}

.catalog-list {
  display: flex;
  flex-direction: column;
}

.hotel-row {
  display: flex;
}


.column-1-2 {
  flex-grow: 1;
}








.itog {
  display: flex;
  flex-direction: row;
}


.sorting-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.catalog-list {
  display: flex;
  flex-direction: column;
}







.navigation-item a:hover {
  color: #81b3d2
}

.navigation-item,
.visit-html {
  list-style: none;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;

}

.navigation-item a,
.visit-html a {
  color: #000000;
}

.main-header {
  color: #000000;
}

}
.advantages:last-child(1) {
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 26px;
  color: #333333;
}
.advantages2 {

  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 26px;
  color: #333333;
}

.interested {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  color: #000000;
}

.go {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #333333;
}

.serch {
  background-color: #766357;
  font-family: inherit;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 26px;
  color: #ffffff;
}

.form-back {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 26px;
  color: #000000;
}

.data::placeholder {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 26px;
  color: #000000;
}

.nambe::placeholder {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 26px;
  color: #000000;
}

.button-serch {
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 26px;
  color: #ffffff;

  background-color: #81b3d2;
}

a {
text-decoration: none;
  color: #000000;
}



.itog input {
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 26px;
  color: #000000;

  border: 0;
}

.sorting {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 18px;
}

.sorting button {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 18px;
  color: #81b3d2;

  border: 0;
  background: #ffffff;
}

.sorting button:hover {
  color: #b3b3b3;
}

li {
  list-style-type: none;
}

.catalog-category a {
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 26px;
}

.catalog-item-price {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 21px;

  color: #333333;
}

.item-price {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 21px;
  color: #333333;
}

.button-1 {
 background-color: #81b3d2;

 font-size: 14px;
 font-weight: bold;
 line-height: 21px;
 color: #ffffff;
}

.button-2 {
  background-color: #766357;

  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  color: #ffffff;
}

.raiting {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 21px;

  background-color: #f2f2f2;
}


.footer-copyring  {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 26px;

  color: #000000;

}

.footer-flex a {
  color: #000000;
}

.social p {
  color: #000000;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 26px;
  }
