body {
  font-family: "PT Sans", Arial, sans-serif;
  /* font-size: 14px; */
  line-height: 26px;
  font-style: normal;
  font-stretch: normal;
  text-transform: uppercase;
  min-width: 1200px;

}
/* ul > * {
  background: rgba(255, 0, 0, 0.2);
}
ul > * > * {
  background: rgba(170, 56, 56, 0.2);
}

li > * {
  background: rgba(47, 216, 137, 0.8);
  /* border: 1px solid #000000; */
}
div > * {
  background: rgba(47, 216, 137, 0.2);
  border: 0.3px solid #000000;
} */
/* .container-flex {
  width: 1200px; /*Даем ширину*/
  margin: 0 auto; /*Даем центровку*/
  display: flex;
  flex-direction: column;

} */
.background {
  width: 1200px; /*Даем ширину*/
  margin: 0 auto; /*Даем центровку*/
  display: flex;
  flex-direction: column;
  /* width: 1200px;
  height: 773; */

}
header {
  width: 1200px;
  min-height: 565px;
  padding: 0;
  margin: 0 auto;
  position: relative;
}
.main-logo {
  max-height: 71px;
  width: 240px;
  z-index: 3;
  position: absolute;
  left: 480px;
}
.lo-go {
  max-width: 140px;
  max-height: 71px;
  padding-left: 52px;
  padding-right: 52px;
}
.main-logo a {
  max-width: 140px;
  max-height: 56px;
}

/* блок навигации */

.navigation-item,
.visit-html {
  list-style: none;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}
.main-navigation {
  background-color: #ffffff;
}
.navigation-item {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
  padding-left: 0px;
}
.navigation-item li {
  flex: 239px;
  min-width: 239px;
  height: 56px;
  padding-top: 0;
  /* background-color: red; */
}
.navigation-item li:nth-of-type(1) {
  margin-left: 0px;
  text-align: center;
  min-width: 239px;
}
.navigation-item li:nth-of-type(2) {
  margin-left: 0px;
  /* margin-right: 140px; */
  text-align: center;
  min-width: 239px;
}
.navigation-item li:nth-of-type(3) {
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
  min-width: 239px;
}
.navigation-item li:nth-of-type(4) {
  margin-right: 0px;
  text-align: center;
  min-width: 239px;
}
.block-dummy {
  min-width: 240px;
}
/* стили ссылок */
.navigation-item-active a {
  color: #766357;
}
.navigation-item a {
  height: 56px;
  min-width: 239px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-item a:hover {
  color: #81b3d2;
}
.navigation-item a:active {
  color: rgba(0, 0, 0, 0.3);
}
.navigation-item-active a:visited {
  color: #766357;
}

/* конец стилей ссылок */


.welcome {
  min-height: 507px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  background-image:  url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -82px;
}
.welcome::after {
  content: "";
  display: flex;
  height: 59px;
  width: 100%;
  background-image: url(../img/polygon.svg);
  position: absolute;
  bottom: -3px;

}
.welcome img {
  padding-top: 75px;
  width: 459px;
  min-height: 353px;
}


.visit-html {
  display: flex;
  flex-direction: row;
}
.prevu {
  position: relative;
  background-color: #ffffff;
  min-height: 216px;
  }

.advantages1 {
  font-size: 21px;
  font-weight: bold;
  color: #333333;
  padding: 0;
  margin: 0 auto;
  text-align: center;

  padding-top: 61px;
  width: 440px;
  height: 48px;
}
.advantages2 {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 26px;
  text-align: center;
  color: #333333;

  padding-top: 30px;
}
.brown-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  text-align: center;
  /* height: 263px; */
}

.go-data {
  display: inline-block;
  margin-bottom: 0px;
  margin-top: 50px;
}
.go  {
  margin-top: 0px;
  margin-bottom: 45px;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #333333;
  text-align: center;
}

.interested {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
  color: #000000;
  margin-top: 0;
}

.serch {
  display: inline-block;
  position: relative;
  background-color: #766357;
  box-shadow: 0px 5px 15px 0 #cccccc;
  position: relative;
  z-index: 1;
}
.serch-buttom {
  padding: 0px;
  margin: 0px;
  width: 568px;
  min-height: 86px;
  background-color: #766357;
  border-style: none;
}
.serch-buttom {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.serch-buttom:hover {
  background-color: #604e43;
  color: #ffffff;
}
.serch-buttom:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);

}


/*стили к форме по поиску гостиницы*//*стили к форме по поиску гостиницы*//*стили к форме по поиску гостиницы*//*стили к форме по поиску гостиницы*//*стили к форме по поиску гостиницы*/
.form-back {
  margin: 0 auto;
  padding: 0px;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 26px;
  color: #000000;
  width: 568px;
  min-height: 395px;
  background-color: #ffffff;
  box-shadow: 0px 7px 15px 0 #d9d9d9;
  z-index: 1;
  position: absolute;
  top: 290px;
}

.arriv {
  display: flex;
  flex-wrap: nowrap;
  align-self: baseline;
  padding: 0;
  margin: 0 auto;
  position: relative;
}

.arriv label {
  margin-top: 0px;
  margin-left: 58px;
  align-self: baseline;
}

.arriv input {
  padding: 0;
  margin-top: 55px;
  width: 346px;
  height: 38px;
  align-self: baseline;
  border: 0px;
  background-color: #f2f2f2;
}
.arriv2 input {
  margin-top: 29px;
  margin-left: 0px;
  align-self: baseline;
}

.data1:hover,
.data2:hover {
  background-color: #ebebeb;
}
.data1:focus,
.data2:focus {
  background-color: #ffffff;
  border: solid 2px #e5e5e5;
}

.arriv-data1 {
  margin-right: 21px;
}
.arriv-data2 {
  margin-right: 17px;
}

.data1::placeholder,
.data2::placeholder {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 26px;
  color: #000000;
  padding-left: 13px;
  padding-bottom: 14px;
  padding-top: 14px;
}

.block-calendar-one {
  width: 21px;
  height: 22px;
  margin-top: 63px;
  position: absolute;
  left: 480px;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
}
.arriv2 .block-calendar-two  {
  width: 21px;
  height: 22px;
  margin-top: 38px;
  position: absolute;
  left: 480px;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
}

.calendar-one,
.calendar-two {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 21px;
  height: 22px;
  background-color: #f2f2f2;
  border: 0px;
}

.calendar-one,
.calendar-two {
  fill: #cacaca;
}

.calendar-one:hover,
.calendar-two:hover {
  fill: #000000;
}
.calendar-one:active,
.calendar-two:active {
  fill: #81b3d2;
}

.nambe::placeholder {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.86;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}


.minus::before {
  content: "-";
  color: #000000 ;
}
.plus::before {
  content: "+";
  color: #000000 ;
}
/* .minus button:hover {
  background-color: #000000;
}
.plus:hover {
  background-color: #000000;
} */

.people1 {
  display: flex;
  align-items: center;
  float: left;
  margin-top: 30px;
  margin-left: 55px;
  align-self: baseline;
}
.people2 {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-left: 334px;
  align-self: baseline;
}
.people2 .to1 {
  margin-left: 27px;
}
.people1 label {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 26px;
  text-align: center;
  color: #000000;
}
.people2 label {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.nambe {
  padding: 0;
  margin-left: 0px;
  width: 38px;
  height: 38px;
  border: 0;
  background-color: #f2f2f2;
  text-align: center;
}

.order1 {
  order: 2;
}
.order2 {
  width: 38px;
  height: 38px;
  padding: 0;
  border: 0;
  background-color: #f2f2f2;
  order: 1;
  text-align: center;
  margin-left: 40px;
}
.order3 {
  padding: 0;
  width: 38px;
  height: 38px;
  border: 0;
  background-color: #f2f2f2;
  order: 3;
  text-align: center;
}

.btn-srch {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-srch button:hover {
  background-color: #669ec0;
}
.btn-srch button:active {
  background-color: #5496bd;
  color: #81b3d2;
}

.button-serch {
  padding: 0px;
  width: 458px;
  height: 58px;
  margin-top: 54px;
  margin-bottom: 55px;
  border: 0;
  background-color: #81b3d2;

  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  color: #ffffff;
}
/*конец*/


a {
  text-decoration: none;
  color: #000000;
}
li {
  list-style-type: none;
}

.button-1 {
 background-color: #81b3d2;
 font-size: 14px;
 font-weight: bold;
 line-height: 21px;
 color: #ffffff;
}
.button-2 {
  background-color: #766357;
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  color: #ffffff;
}
.raiting {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 21px;
  background-color: #f2f2f2;
}

.map {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  margin-bottom: -128px;
}
.map img {
  min-width: 1200px;
  min-height: 593px;
}

/* стили для class="container" */

.features {
  width: 1200px;
  margin: 0 auto;
  margin-top: 0px;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.features-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
}
.features-list h3 {
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
}
/* строка 1 */
.features-item-one {
  display: flex;
  flex-direction: row;
  min-width: 1200px;
  min-height: 256px;
}
.real-town-one {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 400px;
  min-height: 256px;
  background-color: #81b3d2;
  color: #ffffff;
}
.real-town-one h3 {
  width: 280px;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 21px;
  letter-spacing: normal;
  margin: 0 auto;
  padding: 46px;
  padding-bottom: 20px;
}
.real-town-one p {
  width: 280px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;

  text-align: center;
  font-size: 14px;
  text-align: center;

  margin: 0 auto;
  padding-top: 20px;
}

.feature-pic-one {
  display: flex;
}
.feature-pic img {
  width: 800px;
  min-height: 256px;
}
/* строка 2 */
.picture {
  display: flex;
  flex-direction: row;
  width: 1200px;
  height: 80px;
}
.picture div {
  width: 80px;
  height: 75px;
}
.picture-one {
  margin-left: 164px;
}
.picture-two {
  margin-left: 326px;
}
.picture-three {
  margin-left: 326px;
}
.features-item-one-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  min-height: 330px;
  text-align: center;
}
.features-item-one-line h3 {
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  margin: 0;
  padding-top: 25px;
}
.features-item-one-line p {
  width: 300px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  font-stretch: normal;
  text-align: center;
  color: #333333;
  padding-left:10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.features-item-two-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  min-height: 330px;
  text-align: center;
}
.features-item-two-line h3 {
  margin: 0;
  padding-top: 25px;
}
.features-item-two-line p {
  width: 300px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  text-align: center;
  color: #333333;
  padding-left:5px;
  padding-right: 5px;
  box-sizing: border-box;
}
.features-item-three-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  min-height: 330px;
  text-align: center;
}
.features-item-three-line h3 {
  margin: 0;
  padding-top: 25px;
}
.features-item-three-line p {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  text-align: center;
  color: #333333;
  padding-left:50px;
  padding-right: 50px;
  box-sizing: border-box;
}
/* строка 3 */
.features-item-2 {
  display: flex;
  flex-direction: row;
  width: 1200px;
  min-height: 256px;
}
.real-town-two {
  display: flex;
  flex-direction: column;
  order: 2;
  text-align: center;
  align-items: center;
  width: 400px;
  min-height: 256px;
  background-color: #81b3d2;
  color: #ffffff;
}
.real-town-two h3 {
  width: 280px;
  margin: 0 auto;
  padding: 46px;
  padding-bottom: 20px;
}
.real-town-two p {
  width: 300px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  font-size: 14px;
  text-align: center;

  margin: 0 auto;
  padding-top: 20px;
}
.feature-pic-two {
  display: flex;
  order: 1;
}
.feature-pic img {
  width: 800px;
  min-height: 256px;
}
/* строка 4 */
.features-item-four-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  min-height: 256px;
  text-align: center;
  background-color: #eeeeee;
}
.features-item-four-line h3 {
  margin-top: 0;
}
.features-item-four-line span {
  margin-bottom: 5px;
}
.features-item-four-line p {
  width: 250px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
}

.features-item-five-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  min-height: 256px;
  text-align: center;

  background-color: #eeeeee;
}
.features-item-five-line h3 {
  margin-top: 0;
}
.features-item-five-line p {
  width: 280px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
}

.features-item-six-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  min-height: 256px;
  text-align: center;

  background-color: #eeeeee;
}
.features-item-six-line h3 {
  margin-top: 0;
}
.features-item-six-line p {
  width: 250px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
}
/* футер */

.footer-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(255,255,255,0.9);
  min-height: 120px;
  position: relative;
  padding: 0;
  min-width: 1200px;
  margin: 0 auto;
}
.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 400px;
  margin: 0;

}
.visit-html {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  min-width: 400px;
}
.footer-copyring  {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 26px;
  color: #000000;
  width: 400px;
  margin-right: 0px;
  min-width: 400px;
}
.footer-copyring p {
  margin-right: 0px;
  text-align: center;
  margin-bottom: 15px;
}

.footer-flex a {
  color: #000000;
}
.visit-html li {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: #5496bd
;
  margin-right: 6px;
}
.visit-html a:hover {
  background-color: #669ec0;
}
.visit-html a:active {
  background-color: #5496bd;
  opacity: 0.3;
}
.social-link {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;

  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link-twitter::before {
  content: "";
  width: 22px;
  height: 23px;
  padding: 13px;
  background-image: url(../img/tw.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 17px 15px;

}
.social-link-facebook::after {
  content: "";
  width: 22px;
  height: 23px;
  padding: 13px;
  background-image: url(../img/fb.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 22px;
}
.social-link-youtube::after {
  content: "";
  width: 22px;
  height: 23px;
  padding: 13px;
  background-image: url(../img/youtube.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 16px;
}

.htmla {
  width: 115px;
  height: 41px;
  color: #81b3d2;
  margin-top: 9px;
  margin-right: 17px;

    /* margin-right: -5;
    margin-right: -5; */
    margin-right: 0px;
    margin-left: 8px;

}

.social p {
  color: #000000;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 26px;
  margin-bottom: 25px;
}

/* стили для страницы каталога *//* стили для страницы каталога *//* стили для страницы каталога *//* стили для страницы каталога *//* стили для страницы каталога */

.catalog {
  padding: 0;
  margin: 0 auto;
  width: 1200px;
}

.block-sorting {
  width: 1200px;
  height: 86px;
  display: flex;
  flex-direction: row;
}

.sorting-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
  min-width: 888px;
  height: 86px;
  /* align-self: baseline; */
}



.block-itog  {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 312px;
  margin: 0px;
}

.type-block {
  display: flex;
  flex-direction: row;
}

.block-itog p {
  padding: 0;

}
.block-itog p {
  min-width: 120px;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: left;
  /* margin-right: 24.5px; */
  margin-left: 72px;
    padding-bottom: 0px;
  /* margin-top: 34px;
  margin-bottom: 36px; */
}
.block-itog span {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  margin-top: 5px;
  /* margin-bottom: 7px; */
  margin-left: 44px;
}

.link-sort {
  min-width: 76px;
  margin-right: 33px;

}
.by-price {
  margin-left: 38px;
  min-width: 50px;
}

.by-type {
  min-width: 50px;
}

.by-rated {
  min-width: 77px;
}

.link-sort a {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  /*  */

  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}
.link-sort a:hover {
  color: #81b3d2;
  /* border-bottom: 1px dotted #81b3d2; */
}
.link-sort a:active {
  color: #000000;
}
.sorting-links .by-price a {
  color: #81b3d2;
  border-bottom: none;
}
.sorting {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 18px;
}
.arrow a {
  width: 25px;
  height: 25px;
}

.social-link-up {
  margin-left: 469px;
}
.social-link-down {
  margin-right: 73px;
  margin-left: 11px;
}
.up {
  fill: #cacaca;
}
.down {
  fill: #cacaca;
}
.up:hover {
  fill: #000000;
}
.up:active {
  fill: #81b3d2;
}
.down:hover {
  fill: #000000;
}
.down:active {
  fill: #81b3d2;
}
.down:visited {
  fill: #81b3d2;
}
/* .social-link-down :visited {
  fill: #81b3d2;
} */

.catalog-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.hotel-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.border-bottom {
  border-bottom: 1px solid #b7b7b7;
}
.catalog-item-image {
  display: flex;
  margin-left: 72px;
  margin-right: 30px;
}

.amara-item-image {
  display: flex;
  flex-direction: column;
}

.price-list {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  min-width: 780px;
  min-height: 90px;
}
.catalog-category {
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  color: #000000;
}

.catalog-category:hover {
  color: #81b3d2;
}
.catalog-category:active {
  color: rgba(0, 0, 0, 0.3);
}
.block-price {
  display: flex;
  flex-direction: row;
  min-width: 258px;
}
.block-price span {
  width: 116px;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #333333;
}
/* .block-price .margin-right-39px {
  margin-right: 39px;
}
.block-price .margin-right-64px {
  margin-right: 64px;
}
.block-price .margin-right-21px {
  margin-right: 21px;
} */


.block-details {
  display: flex;
  flex-direction: row;
}
.block-details a {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.hotel-link-details:hover {
  background-color: #669ec0;
}
.hotel-link-details:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.hotel-link-booking:hover {
  background-color: #604e43;
}
.hotel-link-booking:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}
.hotel-link-details {
  margin-right: 6px;
  min-width: 110px;
  min-height: 27px;
  background-color: #81b3d2;
}
.hotel-link-booking {
  width: 142px;
  height: 27px;
  background-color: #766357;
}

.hotel-row {
  min-height: 150px;
  border-top: 1px solid #b7b7b7;
  border-width: 100%;
}

.column-1-3 {
  display: block;
  min-width: 110px;
}
.star-4 {
  display: flex;
  flex-direction: column;

}
.fa-star {
  text-align: right;
  padding-bottom: 38px
}
.raiting {
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
  width: 110px;
  height: 27px;
  text-align: center;
  vertical-align: inherit;
}
.raiting p {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 21px;
  color: #666666;
  padding-top: 3px;
}
/* .raiting {
  width: 110px;
  height: 27px;
  margin: 0px;
  text-align: center;
} */
